#!/bin/bash
#
set -e
echo "--- --- --- --- -SART- --- --- --- ---"


#yum clean all 
#yum makecache 
if [ -d "/data" ];then
   echo
else
  mkdir /data
fi
 

if [ -f "/tmp/{{ src_tar_name }}" ];then
   tar xf "/tmp/{{ src_tar_name }}" -C {{ tmp_dir }}
   rm -f "/tmp/{{ src_tar_name }}"
else
   exit 1
fi

yum -y install gcc gcc-c++ &&\
cd {{ tmp_dir }} &&\
for i in `dir`;do
  if [ -d "/tmp/zabbix/$i" ];then
    bdir="/tmp/zabbix/$i"
  fi
done
if [ -d "{{ zbx_dir }}" ];then
  echo
else
  mkdir {{ zbx_dir }}
fi

cd $bdir
./configure --prefix={{ zbx_dir }} --enable-agent && make && make install 

if [ -e "{{ zbx_dir }}/sbin/zabbix_server" ];then
  echo "====================================="
  echo "||                                  ||"
  echo -n "||"
  echo  "      Installed Success...       ||"
  echo "||                                  ||"
  echo "====================================="
fi

rm -rf {{ tmp_dir }}
